/*!
 * Start Bootstrap - Full (https://startbootstrap.com/template-overviews/full)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full/blob/master/LICENSE)
 */

.full {
-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;height:100vh;width:100%;height:100vh;
}
